.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 40px 60px 40px;
  gap: 40px;
  flex-wrap: wrap;
  background-color: var(--main-color);
  background-image: url("../../assets/images/pizza.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.about-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color);
  opacity: 0.75;
  z-index: 0;
}

.about-container > div {
  flex: 1;
  min-width: 300px;
  position: relative;
  z-index: 1;
}

.about-container p {
  color: white;
  margin-bottom: 16px;
  font-size: 15px;
}

.about-container h1 {
  color: white;
}

.about-right {
  text-align: right;
  right: 20px;
  position: relative;
}

.about-container > .about-image {
  flex: none;
  min-width: 0;
  position: absolute;
  bottom: 20px;
  left: 0;
  transform:translate(50%,70%);
  margin: 0 auto;
  width: 400px;
  z-index: 1;
}

.about-image img {
  width: 700px;
  height: auto;
  display: block;
}